<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                        class="tab">Reset Password</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
                    <div class="login-space">

                        <div class="login">
                            <form (ngSubmit)="onSubmit(resetForm)">
                                <div class="group">
                                    <label for="email" class="label">password</label>
                                    <input class="input" type="password" id="password" name="password" required [(ngModel)]="resetForm.password" >
                                </div>
                                <div *ngIf="errorMessagePassword" class="error-message">
                                    {{ errorMessagePassword }}
                                  </div>
                                <div class="group">
                                    <label for="email" class="label">repete password</label>
                                    <input class="input" type="password2" id="password2" name="password2" >
                                </div>
                               
                                <div class="group">
                                    <input type="submit" class="button" value="reset password" >
                                </div>
                                <div *ngIf="errorMessageRegister" class="error-message">
                                    {{ errorMessageRegister }}
                                  </div>
                                  <div *ngIf="succesMessageRegister" class=" sucess-message">
                                    {{ succesMessageRegister }}
                                  </div>
                            </form>

                            <div class="foot">
                                <a routerLink="/login">Already member?</a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>